data-samples/Books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Books">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Book">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" type="xs:string" />
							<xs:element name="Author" type="xs:string" />
							<xs:element name="PublicationYear" type="xs:date" />
							<xs:element name="IsCheckedOut" type="xs:boolean" />
						</xs:sequence>
						<xs:attribute name="BookID" type="xs:unsignedInt" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>